/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS DEBUT DU CSS */

/*REGLAGE BOX SIZING A BORDER BOX*/


*,*::before,*::after{
    box-sizing: border-box;
}

a, a:hover, a:visited, a:active
{
	color:#ffffff;
	text-decoration:none;
}

/*POLICE*/
@font-face {
    font-family: 'AnticDidone-Regular';
    src: url(../police/AnticDidone/AnticDidone-Regular.eot);
    src: url(../police/AnticDidone/AnticDidone-Regular.eot?#iefix) format('embedded-opentype'),
         url(../police/AnticDidone/AnticDidone-Regular.svg#AnticDidone-Regular) format('svg'),
         url(../police/AnticDidone/AnticDidone-Regular.ttf) format('truetype'),
         url(../police/AnticDidone/AnticDidone-Regular.woff) format('woff'),
         url(../police/AnticDidone/AnticDidone-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url(../Avenir/police/LTStd-Book.eot);
    src: url(../Avenir/police/AvenirLTStd-Book.eot?#iefix) format('embedded-opentype'),
         url(../Avenir/police/AvenirLTStd-Book.svg#AvenirLTStd-Book) format('svg'),
         url(../Avenir/police/AvenirLTStd-Book.ttf) format('truetype'),
         url(../Avenir/police/AvenirLTStd-Book.woff) format('woff'),
         url(../Avenir/police/AvenirLTStd-Book.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5{
    font-family: 'AnticDidone-Regular', serif;
}

p, blockquote{
    font-family: AvenirLTStd-Book, sans-serif;
}
/*NAVIGATION*/

.header-nav{
    z-index: 400;
    display: flex;
    height: 218.4px;   
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #766d4a ;
    justify-content: space-between;
    
    
}
.logo{
    display: flex;
    height: 300.0px;
    align-items: center;
    height: 218.4px;
    padding-left: 2%;
    
}

.header-ul{
    display: flex;
    position: relative;
    align-items: center;
    width: 60%;
    font-size: 2.5em;
    justify-content: space-around;
}
/*
@media only screen and (max-width: 900px){
    .header-ul{
        font-size: 2em;
    }
}


@media only screen and (max-width: 700px){
    .header-ul{
        display: inline-block;
    }
    .header-ul{
        position: absolute;
       
    }
}
*/





/*
GRID
*/
@media only screen and (max-width: 950px){
    #icon-burger{
        height: 25px;
        width: 25px;
        filter: grayscale();
    }


    #menuToggle{
        display: flexbox;
        position: fixed;
        

        top: 50px;
        right: 50px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        right: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        /*  z-index: 2;  and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:nth-last-child(3)
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(3)
    {
        transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle.open span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle.open span:nth-last-child(2)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle.open span:nth-last-child(1){
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top right of the screen
    */
    #menu{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
        background: rgba(237, 237, 237, 0.2);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
    * And let's slide it in from the right
    */
    #menuToggle.open ul
    {
        transform: none;
    }
}

/* FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU */

#header{
    display: grid;
    grid-template-areas: 
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . h1 h1 h1 h1 h1 . . . . . . "
        " . h1 h1 h1 h1 h1 . . . . . . "
        " . h1 h1 h1 h1 h1 . . . booknow booknow . "
        " . . . . . . . . . . . . "        
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . ";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(201,201,201,0.3561799719887955) 83%, rgba(255,255,255,0) 100%), url(../pictures/fondgroup1.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)),
        url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;*/
    
    height: 100vh;
    width: 100%;
}
#header > h1{
    grid-area: h1;
    
}
.h1{
    font-size: 7em;
    color: #ffffff;
}
.h1span{
    font-size: .5em;
}
#header > .booknow{
    grid-area: booknow;
}
.booknow{   
    border-color: rgba(0,0,0,0);
    background-color: #ce9744;
    font-size:2.5em;
    color: #ffffff;
}
@media only screen and (max-width: 1000px){   
    #group2{
        display: grid;
        grid-template-areas: 
        " . "
        " . "        
        " . "
        " h1 "
        " h1 "
        " h1 "
        " . "
        " . "
        " . "
        " . "
        " booknow "
        " . ";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        height: 100vh;
        background-image: url(../pictures/plat1Group2.png);
        background-repeat: no-repeat;
        background-size: 55%;
        background-position-x: 50%;
        background-position-y :89%;   
        align-items: center;
        justify-items: center;
    }@media only screen and (max-width: 1000px){       
    .h1{
font-size: 5em;
    }    
    .booknow{
font-size: 1.25em;
    }
}

/*

@media only screen and (max-width: 900px){
    #header{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 3fr 2fr;
        grid-template-areas: 
        "."
        "h1"
        "booknow"
        ".";
    }
}

*/
/*GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 GROUP2 */

#group2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        " . . . . . . "
        " . . . . . . "
        " . . h2gp2 h2gp2 . . "
        " . . pgp2 pgp2 . . "
        " . . . . . . ";
    background-color: #ce9744 ;
    height: 100vh;
    width: 100%;

    background-image: url(../pictures/plat1Group2.png);
    background-repeat: no-repeat;
    background-position-x: -50%;
    background-position-y: center;
    background-size: 55%; 
}
#group2 > .h2gp2{
    grid-area: h2gp2;
}
.h2gp2{
    font-size: 5em;
    color: #ffffff;
    align-items: flex-end;
    align-self: end;
    margin-bottom: .2em;
}
#group2 > .pgp2{
    grid-area: pgp2;
}
.pgp2{
    font-size: 1.5em;
    color: #ffffff;
}
@media only screen and (max-width: 1350px){       
    .h2gp2{
font-size: 5em;
    }    
    .h3gp2{
font-size: 1.75em;
    }
}
@media only screen and (max-width: 1150px){       
    .h2gp2{
font-size: 4.2em;
    }    
    .h3gp2{
font-size: 1.45em;
    }
}
@media only screen and (max-width: 950px){       
    .h2gp2{
font-size: 3.5em;
    }    
    .h3gp2{
font-size: 1.21em;
    }
}
@media only screen and (max-width: 800px){   
    #group2{
        display: grid;
        grid-template-areas: 
        " h2gp2 "
        " h2gp2 "        
        " pgp2 "
        " pgp2 "
        " pgp2 "
        " pgp2 "
        " pgp2 "
        " pgp2 "
        " pgp2 "
        " . "
        " . "
        " . ";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        height: 100vh;
        background-image: url(../pictures/plat1Group2.png);
        background-repeat: no-repeat;
        background-size: 55%;
        background-position-x: 50%;
        background-position-y :89%;   
        align-items: center;
        justify-items: center;
    }


/*GROUP3*/

#group3{
    display: grid;
    grid-template-areas: 
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        
        " . . . . . . h2gp3 h2gp3 h2gp3 h2gp3 h2gp3 . "
        " . . . . . . pgp3 pgp3 pgp3 pgp3 pgp3 . "
        " . . . . . . pgp3 pgp3 pgp3 pgp3 pgp3 . "
        " . . . . . . contactus contactus . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . ";
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    */  
    background-color: #766d4a;
    height: 100vh;
    width: 100%;
    background-image: url(../pictures/Group3.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 15%;
    background-position-y: center;      
}
#group3 > .h2gp3{
    grid-area: h2gp3;
}
#group3 > .pgp3{
    grid-area: pgp3;
}
#group3 > .contactus{
    grid-area: contactus;
}
.h2gp3{
    font-size: 4em;
    color: #ffffff;
    align-items: flex-end;
    align-self: end;
    margin-bottom: .2em;
    
}
.pgp3{
    font-size: 1.5em;
    color: #ffffff;
    align-self: center;
}
.contactus{   
    border-color: rgba(0,0,0,0);
    background-color: #ce9744;
    font-size: 2.5em;
    color: #ffffff;
    align-self: end;
}
@media only screen and (max-width: 1400px){       
    .h2gp3{
        font-size: 3em;
    }    
    .pgp3{
        font-size: 1.125em;
    }
    .contactus{
        font-size: 1.875em;
    }
@media only screen and (max-width: 1050px){       
    .h2gp3{
        font-size: 2.25em;
    }    
    .pgp3{
        font-size: 0,84375em;
    }
    .contactus{
        font-size: 1,40625em;
    }

@media only screen and (max-width: 750px){
#group3{
    display: grid;
    grid-template-areas: 
    " h2gp3 "
    " h2gp3 "        
    " . "
    " pgp3 "
    " pgp3 "
    " pgp3 "
    " . "
    " contactus "
    " . "
    " . "
    " . "
    " . ";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    background-image: url(../pictures/Group3.jpg);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position-x: 50%;
    background-position-y :89%;      

    
    align-items: center;
    justify-items: center;
}

/*GROUP4*/

#group4{
    display: grid;
    grid-template-areas: 
        " . . . . . . . . . . . . "        
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . h2gp4 h2gp4 h2gp4 h2gp4 . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "        
        " . . pic1gp4 pic1gp4 . pic2gp4 pic2gp4 . pic3gp4 pic3gp4 . . "
        " . . pic1gp4 pic1gp4 . pic2gp4 pic2gp4 . pic3gp4 pic3gp4 . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . p1gp4 p1gp4 . p2gp4 p2gp4 . p3gp4 p3gp4 . . "
        " . . . . . . . . . . . . ";
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    */  
    background-color: #ce9744;
    height: 100vh;
    width: 100%;    
}
#group4 > .h2gp4{
    grid-area: h2gp4;
}
#group4 > .p1gp4{
    grid-area: p1gp4;
}
#group4 > .p2gp4{
    grid-area: p2gp4;
}
#group4 > .p3gp4{
    grid-area: p3gp4;
}
#group4 > .pic1gp4{
    grid-area: pic1gp4;
}
#group4 > .pic2gp4{
    grid-area: pic2gp4;
}
#group4 > .pic3gp4{
    grid-area: pic3gp4;
}
.h2gp4{
    font-size: 4em;
    color: #ffffff;
    align-items: center;
    align-self: end;
}
.p1gp4 {
    font-size: 1.5em;
    color: #ffffff;
    align-self: end;
    justify-self: end;
}
.p2gp4 {
    padding-left: 4vw;
    font-size: 1.5em;
    color: #ffffff;
    align-self: end;
    justify-self: center;
}
.p3gp4 {
    font-size: 1.5em;
    color: #ffffff;
    align-self: end;
    justify-self: end;
}

@media only screen and (max-width: 1600px){       
    .h2gp4{
font-size: 3em;
    }
} 
@media only screen and (max-width: 1400px){
    #group4{
        display: grid;
        grid-template-areas: 
        " h2gp4 "
        " . "        
        " . "
        " pic1gp4 "
        " p1gp4 "
        " . "
        " pic2gp4 "
        " p2gp4 "
        " . "
        " pic3gp4 "
        " p3gp4 "
        " . ";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        height: 115vh;
    
        
        align-items: center;
        justify-items: center;
    }
    

    .h2gp4, .p1gp4, .p2gp4, .p3gp4{
        justify-self: center;
        align-self: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }

}


/*
@media only screen and (max-width: 1400px){       
    .h2gp4{
    font-size: 3em;
    } 
    #group4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: flex-start;
    justify-content: center;
    }   
} 
*/

#group5{
    display: grid;
    grid-template-areas: 
        " . . . . . . . . . . . . "        
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
      
        " . . . . . . . . . . . . "     
        " . h2gp5 h2gp5 h2gp5 h2gp5 h2gp5 h2gp5 . . . . . "
        " . h3gp5 h3gp5 h3gp5 h3gp5 h3gp5 h3gp5 . . . . . " 
        " . . . . . . . . . . . . "  
        " . booknow2 booknow2 booknow2 booknow2 booknow2 . . . . . . "        
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . ";
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    */  
    background-color: #ce9744;
    height: 100vh;
    width: 100%;
    background-image: url(../pictures/plat2Group5.png);
    background-repeat: no-repeat;
    background-position-x: 150%;
    background-position-y: center;
    background-size: 55%; 
    
}

#group5 > .h2gp5{
    grid-area: h2gp5;
}
#group5 > .h3gp5{
    grid-area: h3gp5;
}
#group5 > .booknow2{
    grid-area: booknow2;
}

.h2gp5{
    font-size: 6em;
    color: #ffffff;
    align-items: center;
    align-self: center;
    padding-left: 0.1em;
}
.h3gp5{
    font-size: 2.1em;
    color: #ffffff;
    align-items: center;
    align-self: center;
    padding-left: 0.15em;
    
}

.booknow2{   
    border-color: rgba(0,0,0,0);
    background-color: #ffffff;
    font-size: 4em;
    color: #776d4a;
    border-radius: 10px;
    
    
    /*align-self: stretch;
    justify-self: stretch;*/

}
@media only screen and (max-width: 1350px){       
    .h2gp5{
font-size: 5em;
    }    
    .h3gp5{
font-size: 1.75em;
    }
    .booknow2{
        font-size: 3.33em;
    }
}
@media only screen and (max-width: 1150px){       
    .h2gp5{
font-size: 4.2em;
    }    
    .h3gp5{
font-size: 1.45em;
    }
    .booknow2{
        font-size: 2.775em;
    }
}
@media only screen and (max-width: 950px){       
    .h2gp5{
font-size: 3.5em;
    }    
    .h3gp5{
font-size: 1.21em;
    }
    .booknow2{
        font-size: 2.3125em;
    }
}
@media only screen and (max-width: 800px){       
    .h2gp5{
font-size: 2.9em;
    }    
    .h3gp5{
font-size: 1.0em;
    }
    .booknow2{
        font-size: 1.927em;
    }
}
@media only screen and (max-width: 700px){       
    .h2gp5{
font-size: 2.42em;
    }    
    .h3gp5{
font-size: 0.83em;
    }
    .booknow2{
        font-size: 1.606em;
    }
}
@media only screen and (max-width: 600px){       
    .h2gp5{
font-size: 2em;
    }    
    .h3gp5{
font-size: 0.7em;
    }
    .booknow2{
        font-size: 1.338em;
    }
}

.group6{
    height: 100vh;
    background-image: url(../pictures/fdgp6.jpg);
    
    background-repeat: no-repeat;
    background-size: cover; 
    /*background-attachment: fixed;
    background-size: contain;
    */ 
}
@media only screen and (max-width: 1000px){
    .group6{
        background-position: 50% 75%;
    }    
}



.group7{
    height: 100vh;
    background-color: #ce9744;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote{    
    font-size: 5em;
    margin-bottom: 0.5;
    color: #ffffff;
}

.vincentvangogh{
    font-size: 5em;
    margin-top: 0.5em;
    color: #ffffff;
}



@media only screen and (max-width: 1400px){
    blockquote, .vincentvangogh{
        font-size: 4.5em;
    }  
}

@media only screen and (max-width: 1300px){
    blockquote, .vincentvangogh{
        font-size: 4em;
    }        
} 
@media only screen and (max-width: 1200px){
    blockquote, .vincentvangogh{
        font-size: 3.5em;
    }        
}  
@media only screen and (max-width: 1100px){
    blockquote, .vincentvangogh{
        font-size: 3em;
    }        
} 
@media only screen and (max-width: 1000px){
    blockquote, .vincentvangogh{
        font-size: 2.5em;
    }        
}
@media only screen and (max-width: 700px){
    blockquote, .vincentvangogh{
        font-size: 2em;
    }        
}
@media only screen and (max-width: 700px){
    blockquote, .vincentvangogh{
        font-size: 1.5em;
    }        
}

#mapid{
    height: 100vh;
    width: 100%;
    z-index: 200;
}

.layout{
    z-index: 300;
    width: 40%;
    height: 100%;
    background-color: rgba(115, 108, 107, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

#group8{
    min-height: 100vh;
    height: 100%;
    position: relative;
}

.h2gp8{
    position: relative;
    top: 33%;
    left: 33%;
    font-size: 3em;
    color: #ffffff;
    
    
}

.h3gp8{
    position: relative;
    top: 50%;
    left: 33%;
    font-size: 1.8em;
    color: #ffffff;
}

.h4gp8{
    position: relative;
    top: 60%;
    left: 40%;
    font-size: 1.6em;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.h5gp8{
    position: relative;
    top: 60%;
    left: 42%;
    font-size: 1.8em;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1400px){
    .layout{
        width: 45%;        
    }
}
@media only screen and (max-width: 1200px){
    .layout{
        width: 50%;        
    }
}
@media only screen and (max-width: 1100px){
    .layout{
        width: 60%;        
    }
}
@media only screen and (max-width: 1000px){
    .layout{
        width: 70%;        
    }
}
@media only screen and (max-width: 900px){
    .layout{
        width: 80%;        
    }
}
@media only screen and (max-width: 800px){
    .layout{
        width: 90%;        
    }
}
@media only screen and (max-width: 700px){
    .layout{
        width: 100%;        
    }
}

#footer{
   
    display: grid;
    grid-template-areas: 
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . "
        " . . . . . . . . . . . . " 
        " . h3footer . . . . . aboutsectionn1 . aboutsectionn2 . . "
        " . ploremfooter ploremfooter ploremfooter ploremfooter . . . . . . . "
        " . ploremfooter ploremfooter ploremfooter ploremfooter . . teamsectionn1 . teamsectionn2 . . "
        " . . . . . . . joinussectionn1 . joinussectionn2 . . "
        " . . . . . . . ethicsection1 . ethicsection2 . . "
        " . . . . . . . goalssection1 . goalssection2 . . "        
               
        " . . . . insta facebook twitter comment . . . . "
        " . . . . . . . . . . . . " ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    
   

    height: 100vh;
    /*background-image: url(../pictures/backgroundfooter.png);
    background-repeat: no-repeat;
    background-size: cover; 
    */
    
    width: 100%;
}

#footer > .h3footer{
    grid-area: h3footer;
}
#footer > .ploremfooter{
    grid-area: ploremfooter;
}
#footer > .aboutsectionn1{
    grid-area: aboutsectionn1;
}
#footer > .aboutsectionn2{
    grid-area: aboutsectionn2;
}
#footer > .teamsectionn1{
    grid-area: teamsectionn1;
}
#footer > .teamsectionn2{
    grid-area: teamsectionn2;
}
#footer > .joinussectionn1
{
    grid-area: joinussectionn1;
}
#footer > .joinussectionn2{
    grid-area: joinussectionn2;
}
#footer > .ethicsection1{
    grid-area: ethicsection1;
}
#footer > .ethicsection2{
    grid-area: ethicsection2;
}
#footer > .goalssection1{
    grid-area: goalssection1;
}
#footer > .goalssection2{
    grid-area: goalssection2;
}
#footer > .insta{
    grid-area: insta;
}
#footer > .facebook{
    grid-area: facebook;
}
#footer > .twitter{
    grid-area: twitter;
}
#footer > .comment{
    grid-area: comment;
}
#footer > .lebas{
    grid-area: lebas;
}

.h3footer{
    text-transform: uppercase ;
    font-size: 1.8em;
    color: #ffffff;
    align-items: center;
    align-self: end;   
}

.ploremfooter{
    font-size: 1.5em;
    color: #ffffff;
    align-self: center;
}

.aboutsectionn1, .aboutsectionn2{
    align-self: flex-end;
    text-transform: uppercase ;
    font-size: 1.6em;
}

.teamsectionn1, .teamsectionn2, .joinussectionn1, .joinussectionn2, .ethicsection1, .ethicsection2, .goalssection1, .goalssection2{
    text-transform: none;
    font-size: 1.2em;
    color: #ffffff;
    align-self: start;
    
}

.insta{
    color: #ffffff;
    justify-self: center;
    
}
.facebook{
    color: #ffffff;
    justify-self: center;
   
}
.twitter{
    color: #ffffff;
    justify-self: center;
   
}
.comment{
    color: #ffffff;
    justify-self: center;
   
}




.footer {    
    background:
        linear-gradient(
        to bottom,
        #766e4a 0, 
        #766e4a 13%,
        #ce9744 13%, 
        #ce9744 87%, 
        #766e4a 87%, 
        #766e4a )no-repeat;
        height: 100vh;    
} 
@media only screen and (max-width: 1000px){
    .ploremfooter{
        font-size: 1.35em;
        padding-top: 1.5em;
    }
}

@media only screen and (max-width: 840px){
    .ploremfooter{
        font-size: 1.1em;
        padding-top: 2.25em;
    }
    .comment{        
        justify-self: start;
    }
    .insta{        
        justify-self: end;        
    }
}



  /*
@media only screen and (max-width: 900px){
    .header-ul{
        font-size: 2em;
    }
}
*/